##########################################################################
# MARY TTS configuration file fr_extended.config
##########################################################################

name = fr
fr.version = 5.2-SNAPSHOT

locale = fr

###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
       marytts.language.fr.Phonemiser  \
       marytts.language.fr.Preprocess \
       marytts.language.fr.StanfordPOSTagger(fr,fr.) \


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
fr.allophoneset = jar:/marytts/language/fr/lexicon/allophones.fr.xml
fr.lexicon = jar:/marytts/language/fr/lexicon/fr_lexicon.fst
fr.lettertosound = jar:/marytts/language/fr/lexicon/fr.lts
#fr.userdict = MARY_BASE/user-dictionaries/userdict-fr.txt

fr.partsofspeech.punctuation = ,.?!;

# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(fr)
